*{
  box-sizing: border-box;
}

@media screen and (max-width:1200px) {

  
  h2{
    text-align: center;
 background-color: darkslategray;
 color: aqua;
  }

.hero{
  display: flex;
  width: 100vw;
}
.card{
  width: 25%;
}


}
@media screen and (min-width:400)  {
 
.hero{
  
  display: flex;
}
  
}


.card_1{
  background-color: rgb(55, 191, 153);
}
.card_2{
  background-color: rgb(89, 204, 166);
}
.card_3{
  background-color: rgb(103, 207, 172);
}
.card_4{
  background-color: rgb(116, 218, 184);
}